body {
    background-image: url("img/infinsmall.png");
    background-repeat: repeat;
    background-color: #220000;
    color: #ef0000;
    font-family: "Comic Sans MS";
    font-size: 20px;
}

p {
    font-family: "Comic Sans MS";
    font-size: 30px;
}